$white: #FFFFFF;
// $blue: #4B6587;
$blue: #3DB2FF;
$darkBlue: #3064b4;
$lightBlue: #6DA2C9;
$lightBlack: #666666;
$black: #3B3B39;
$darkBlack: #282828;
$beige: #F0E5CF;
$grey: #DEDEDE;
$lightGrey: #F5F3F5;
$darkGrey: #807E7E;






