$heading: 'Montserrat', sans-serif;
$body: 'Karla', sans-serif;
$logo1: 'Cedarville Cursive', cursive;
$logo2: 'Petit Formal Script', cursive;
$logo3: 'Style Script', cursive;
$logo4: 'Croissant One', cursive;
$josefin: 'Josefin Slab', serif;
$monkey: 'Happy Monkey', cursive;
$libre: 'Libre Barcode 39 Text', cursive;
$megrim: 'Megrim', cursive;
$squada: 'Squada One', cursive;
$lora: 'Lora', serif;
$playfair: 'Playfair Display', serif;
$zen: 'Zen Antique', serif;
$zillaSlab: 'Zilla Slab', serif;
